# Ignore node_modules in both frontend and backend
p2p-book-exchange/node_modules/
p2p-book-exchange-backend/node_modules/

# Logs
**/logs
**/*.log

# Env files
**/.env
**/.env.local

# build output
p2p-book-exchanges/.next/
p2p-book-exchanges-backend/dist/
